@*
    This View is not required so I commented it, if need be in the future
*@


@model MeanTime.Models.Genre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetaDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Logo != null)
            {
                <img src="~/img/@Model.Logo" alt="Genre logo" class="thumb img-fluid rounded-start" style="max-height: 300px;" />
            }
            else
            {
                <span>No image added yet!</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GenreId" class="btn btn-outline-danger mx-2">Edit</a>
    <a asp-action="Index" class="btn btn-outline-success mx-2">Back to List</a>
</div>
