@model IEnumerable<MeanTime.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-controller="Apps" asp-action="Index" asp-route-genre=@item.Type>@Html.DisplayFor(modelItem => item.Type)</a>
            </td>
            <td>
                @if(item.Logo != null)
                {
                    <img src="~/img/@item.Logo" alt="Genre logo" class="thumb"/>
                }
                else
                {
                    <img src="~/img/placeholder.png" alt="Placeholder image" class="thumb"/>
                }
                @*@Html.DisplayFor(modelItem => item.Logo)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDescription)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GenreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GenreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
