@*Template taken from the following site: https://bbbootstrap.com/snippets/bootstrap-list-grid-view-template-74271163#*@

@model IEnumerable<MeanTime.Models.App>

@{
    ViewData["Title"] = "Apps";
}

<h1 class="headtag">Apps Catalogue</h1>

<p>
    @if(User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="text-secondary  text-decoration-none text-lg-center addtag">App 
            @*Took this from the bootstrap icons - https://icons.getbootstrap.com/icons/plus-circle/*@
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
    }
</p>

<div class="container mt-3 mb-5">
    <div class="row">
    @foreach(var item in Model)
    {

        <div class="col-md-4">
            <div class="card p-3 my-4">

                <div class="d-flex flex-row mb-3">
                        <a asp-controller="AppDetails" asp-action="Details" asp-route-id="@item.AppId">
                        @if (item.Image != null)
                        {
                            <img src="~/img/@item.Image" alt="App Image" width="70">
                        }
                        else
                        {
                                <img src="~/img/placeholder.png" alt="App Image" width="70">

                        }
                    </a>
                    <div class="d-flex flex-column ml-2">
                        <a asp-controller="AppDetails" asp-action="Details" asp-route-id="@item.AppId">
                                <span class="text-black">@Html.DisplayFor(modelItem => item.Name)</span>
                        </a>
                            <span class="text-black-50">@Html.DisplayFor(modelItem => item.MetaTag)</span>
                        <span class="ratings">
                            @if(item.Rating == 0)
                            {
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            }
                            else
                            {
                                var rating = Math.Floor(item.Rating);
                                @if (rating != item.Rating && rating == 0)
                                {
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                }
                                else
                                {

                                    for (var i = 1; i <= rating; i++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    if (rating != item.Rating)
                                    {
                                        <i class="fa fa-star-half-o"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                    for (var j = rating + 1; j < 5; j++)
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                }
                            }

                        </span>
                    </div>
                    <div class="align-self-top ">
                        @if(User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Delete" asp-route-id="@item.AppId" class="float-right btn btn-close" ></a>
                        }
                    </div>
                </div>

                    @{
                        var size = item.Size;
                        var sizeString = "";
                        @if (size / 1000000.0M > 1.0M)
                        {
                            sizeString = $"{size / 1000000:F1} Gb";
                        }
                        else if (size / 1000.0M > 1.0M)
                        {
                            sizeString = $"{size / 1000:F1} Mb";
                        }
                        else{
                            sizeString = $"{size:F1} Kb";
                        }
                    }
                    <h6>@sizeString</h6>

                <div class="d-flex justify-content-between install mt-3">
                    <!-- <span>Installed </span> -->
                    <a asp-controller="AppDetails" asp-action="Details" asp-route-id="@item.AppId">
                        <span class="text-primary">View Details&nbsp;<i class="fa fa-angle-right"></i></span>
                    </a>
                    @if(User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.AppId">
                            <span class="text-primary">Install/Uninstall&nbsp;<i class="fa fa-angle-right"></i></span>
                        </a>
                    }
                </div>

            </div>
        </div>
        }
    </div>
</div>